/* Generics */
body {
	background-image: linear-gradient(to bottom, rgb(137, 39, 202), rgb(100, 90, 241));
}

/* # COUNTDOWN */
#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}

#artur-avatar {
	width: 400px;
	border: 3px solid white;
	border-radius: 50%;
}

.hidden {
	display: hidden;
}
