/* Generics */
body {
	background-color: rgb(218, 70, 70);
}

/* # COUNTDOWN */
#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}

#artur-avatar {
	width: 400px;
	border: 3px solid white;
	border-radius: 50%;
	transition: all 0.2 linear;
}

.hidden {
	display: hidden;
}